In [1]:
import arctrl,os, frictionless, re
from junit_xml import TestSuite, TestCase

def validateUsingIsamapData(isamapFilename):
    datamapTestcase = TestCase(isamapFilename, "Arctrl", allow_multiple_subelements=True)
    try:
        basePath = os.path.dirname(os.path.abspath(isamapFilename))
        datamap = arctrl.XlsxController.Datamap().from_xlsx_file(isamapFilename)
    except Exception as ex:
        datamapTestcase.add_error_info(str(ex),None,type(ex).__name__)
    #only if datamap was parsed succesfully
    entries = {}
    if not datamapTestcase.is_error():        
        patternColumn = re.compile("^col=([0-9]+)+$")
        for datacontext in datamap.DataContexts:
            if datacontext.Format == "text/csv":   
                #check existence
                if not datacontext.FilePath in entries:
                    fileLocation = os.path.join("dataset",datacontext.FilePath)
                    entries[datacontext.FilePath] = {
                            "location": fileLocation,
                            "testcase": TestCase(fileLocation, "Frictionless", allow_multiple_subelements=True)
                        }
                    try:
                        if os.path.exists(os.path.join(basePath,fileLocation)):
                            #create automatically resource with schema
                            automaticResource = frictionless.describe(fileLocation, basepath=basePath)
                            #update type to any
                            for i in range(len(automaticResource.schema.fields)):
                                fieldName = automaticResource.schema.fields[i].name
                                automaticResource.schema.fields[i] = frictionless.fields.AnyField(name=fieldName)
                            #update entries
                            entries[datacontext.FilePath]["resource"] = automaticResource
                        else:
                            raise FileNotFoundError(datacontext.FilePath)
                    except Exception as ex:
                        entries[datacontext.FilePath]["testcase"].add_error_info(str(ex),None,type(ex).__name__)
                #if exists without errors
                if not entries[datacontext.FilePath]["testcase"].is_error():
                    try:
                        if datacontext.SelectorFormat == "https://datatracker.ietf.org/doc/html/rfc7111":
                            if (colMatch := patternColumn.match(datacontext.Selector)):
                                column = int(colMatch.group(1))
                                value = datacontext.GetValue()
                                fieldName = entries[datacontext.FilePath]["resource"].schema.fields[column].name
                                if value.IsAnOntology:
                                    if value.Text in ["double","decimal","float"]:                            
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.StringField(name=fieldName)
                                    elif value.Text in ["integer", "long", "int", "short", "byte"]:                            
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.IntegerField(
                                            name=fieldName)
                                    elif value.Text in ["positiveInteger"]:                            
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.IntegerField(
                                            name=fieldName, constraints={"minimum": 1})
                                    elif value.Text in ["nonNegativeInteger", "unsignedLong", "unsignedInt", "unsignedShort", "unsignedByte"]:                            
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.IntegerField(
                                            name=fieldName, constraints={"minimum": 0})
                                    elif value.Text in ["nonPositiveInteger"]:                            
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.IntegerField(
                                            name=fieldName, constraints={"maximum": 0})
                                    elif value.Text in ["negativeInteger"]:                            
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.IntegerField(
                                            name=fieldName, constraints={"maximum": -1})
                                    elif value.Text in ["string", "normalizedString", "token"]:
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.StringField(
                                            name=fieldName)
                                    elif value.Text in ["language"]:
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.StringField(
                                            name=fieldName, constraints={"pattern": "[a-zA-Z]{1,8}(-[a-zA-Z0-9]{1,8})*"})
                                    elif value.Text in ["boolean"]:
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.BooleanField(name=fieldName)
                                    elif value.Text in ["dateTime"]:
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.DateTimeField(name=fieldName)
                                    elif value.Text in ["time"]:
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.TimeField(name=fieldName)
                                    elif value.Text in ["date"]:
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.DateField(name=fieldName)
                                    elif value.Text in ["gYear"]:
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.YearField(name=fieldName)
                                    elif value.Text in ["gYearMonth"]:
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.YearmonthField(name=fieldName)
                                    elif value.Text in ["duration", "yearMonthDuration", "dayTimeDuration"]:
                                        entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.DurationField(name=fieldName)
                                    else:
                                        raise NotImplementedError(value.Text)
                                elif IsAnInt:
                                    entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.IntegerField(name=fieldName)
                                elif IsAFloat:
                                    entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.NumberField(name=fieldName)
                                elif value.IsNumerical:
                                    entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.NumberField(name=fieldName) 
                                elif value.IsText:
                                    entries[datacontext.FilePath]["resource"].schema.fields[column] = frictionless.fields.StringField(name=fieldName) 
                                else:
                                    raise NotImplementedError(value)
                        else:
                            raise NotImplementedError(datacontext.SelectorFormat)
                    except Exception as ex:
                        entries[datacontext.FilePath]["testcase"].add_error_info(str(ex),None,type(ex).__name__)
            else:
                # raise NotImplementedError(datacontext.Format)
                pass
        for id, entry in entries.items():
            try:
                validationResult = entry["resource"].validate()
                if not validationResult.valid:
                    for task in validationResult.tasks:
                        for error in task.errors:
                            entry["testcase"].add_failure_info(error.description, error.message, error.type)            
            except Exception as ex:
                entries[datacontext.FilePath]["testcase"].add_error_info(str(ex),None,type(ex).__name__)
    ts = TestSuite(isamapFilename,[datamapTestcase] + [entry["testcase"] for entry in entries.values()])
    return TestSuite.to_xml_string([ts])

In [2]:
#using ArcPrototype from https://git.nfdi4plants.org/muehlhaus/ArcPrototype/
print(validateUsingIsamapData("ArcPrototype/assays/measurement1/isa.datamap.xlsx"))

<?xml version="1.0" ?>
<testsuites disabled="0" errors="0" failures="0" tests="2" time="0.0">
	<testsuite disabled="0" errors="0" failures="0" name="ArcPrototype/assays/measurement1/isa.datamap.xlsx" skipped="0" tests="2" time="0">
		<testcase name="ArcPrototype/assays/measurement1/isa.datamap.xlsx" classname="Arctrl"/>
		<testcase name="dataset/proteomics_result.csv" classname="Frictionless"/>
	</testsuite>
</testsuites>

In [3]:
#Detect problems with datamap parsing
print(validateUsingIsamapData("incorrect/location/isa.datamap.xlsx"))

<?xml version="1.0" ?>
<testsuites disabled="0" errors="1" failures="0" tests="1" time="0.0">
	<testsuite disabled="0" errors="1" failures="0" name="incorrect/location/isa.datamap.xlsx" skipped="0" tests="1" time="0">
		<testcase name="incorrect/location/isa.datamap.xlsx" classname="Arctrl">
			<error type="FileNotFoundError" message="[Errno 2] No such file or directory: 'incorrect/location/isa.datamap.xlsx'"/>
		</testcase>
	</testsuite>
</testsuites>

In [4]:
#Test error.1
print(validateUsingIsamapData("ArcPrototype/assays/measurement1/isa.datamap.with.error.test1.xlsx"))

<?xml version="1.0" ?>
<testsuites disabled="0" errors="1" failures="0" tests="2" time="0.0">
	<testsuite disabled="0" errors="1" failures="0" name="ArcPrototype/assays/measurement1/isa.datamap.with.error.test1.xlsx" skipped="0" tests="2" time="0">
		<testcase name="ArcPrototype/assays/measurement1/isa.datamap.with.error.test1.xlsx" classname="Arctrl"/>
		<testcase name="dataset/proteomics_result.csv" classname="Frictionless">
			<error type="NotImplementedError" message="doubles"/>
		</testcase>
	</testsuite>
</testsuites>

In [5]:
#Test error.2
print(validateUsingIsamapData("ArcPrototype/assays/measurement1/isa.datamap.with.error.test2.xlsx"))

<?xml version="1.0" ?>
<testsuites disabled="0" errors="0" failures="1" tests="2" time="0.0">
	<testsuite disabled="0" errors="0" failures="1" name="ArcPrototype/assays/measurement1/isa.datamap.with.error.test2.xlsx" skipped="0" tests="2" time="0">
		<testcase name="ArcPrototype/assays/measurement1/isa.datamap.with.error.test2.xlsx" classname="Arctrl"/>
		<testcase name="dataset/proteomics_result.csv" classname="Frictionless">
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.51972112&quot; in row &quot;2&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.04179784&quot; in row &quot;3&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.498130345&quot; in row &quot;4&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.811982726&quot; in row &quot;5&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.496490729&quot; in row &quot;6&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.848821097&quot; in row &quot;7&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.253270352&quot; in row &quot;8&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.909298401&quot; in row &quot;9&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.491500103&quot; in row &quot;10&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.739631151&quot; in row &quot;11&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.455147043&quot; in row &quot;12&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.544084566&quot; in row &quot;13&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.482772452&quot; in row &quot;14&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.480650329&quot; in row &quot;15&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.42444171&quot; in row &quot;16&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.622277772&quot; in row &quot;17&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.191237197&quot; in row &quot;18&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.322930292&quot; in row &quot;19&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.796953488&quot; in row &quot;20&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.810570405&quot; in row &quot;21&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.424198717&quot; in row &quot;22&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.438231695&quot; in row &quot;23&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.783198972&quot; in row &quot;24&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.442106021&quot; in row &quot;25&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.703049593&quot; in row &quot;26&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.002611613&quot; in row &quot;27&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.098450762&quot; in row &quot;28&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.488205519&quot; in row &quot;29&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.920155065&quot; in row &quot;30&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.540263057&quot; in row &quot;31&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.288378368&quot; in row &quot;32&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.132744456&quot; in row &quot;33&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;-0.139610586&quot; in row &quot;34&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.021654271&quot; in row &quot;35&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.611820081&quot; in row &quot;36&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.507437752&quot; in row &quot;37&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.137665504&quot; in row &quot;38&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.469305554&quot; in row &quot;39&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.919056752&quot; in row &quot;40&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.339399641&quot; in row &quot;41&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.265322128&quot; in row &quot;42&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.093838885&quot; in row &quot;43&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.231361083&quot; in row &quot;44&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.953515827&quot; in row &quot;45&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.867029199&quot; in row &quot;46&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.30602411&quot; in row &quot;47&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.241511504&quot; in row &quot;48&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.013594008&quot; in row &quot;49&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.047066451&quot; in row &quot;50&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.209998305&quot; in row &quot;51&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.858634073&quot; in row &quot;52&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.553945851&quot; in row &quot;53&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.701695639&quot; in row &quot;54&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.508819867&quot; in row &quot;55&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;1.837559879&quot; in row &quot;56&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.362855987&quot; in row &quot;57&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.706565484&quot; in row &quot;58&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.271286888&quot; in row &quot;59&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.716184911&quot; in row &quot;60&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.333320991&quot; in row &quot;61&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.717344173&quot; in row &quot;62&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.541130165&quot; in row &quot;63&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.612998241&quot; in row &quot;64&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.513107761&quot; in row &quot;65&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.939226952&quot; in row &quot;66&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.417872207&quot; in row &quot;67&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;1.778576904&quot; in row &quot;68&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;3.254702695&quot; in row &quot;69&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>
			<failure type="type-error" message="The value does not match the schema type and format for this field.">Type error in the cell &quot;2.924316467&quot; in row &quot;70&quot; and field &quot;quant_2&quot; at position &quot;5&quot;: type is &quot;integer/default&quot;</failure>